* {
  border: 1px solid black;
}

body {
  height: 100vw;
}
.keyboard {
  height: 50vh;
  width: 60vw;
  margin: 0 auto;
}

div[class^="row-"] {
  height: 100px;
  display: flex;
 
}

.row-2 {
  padding-left: 25px;
}

.row-3 {
  padding-left: 50px;
}

.row-4 {
  padding-left: 75px;
}

button[class^="key"] {
  display: block;
  text-decoration: none;
  height: 75px;
  width: 75px;
  margin: 10px 10px;
}

button.key-enter {
  width: 100px ;
}

button.key-ls {
  width: 175px ;
}

button.bk {
  background-color: rgb(107, 107, 107);
}


button.pressed {
  background-color: blue ;
}